.wrapper {
    margin: 0 auto
    max-width: 1000px
    font-family: Verdana
    display: flex
    justify-content: space-between
    background: #5BCBF4
    padding: 40px 
    align-items: center
}

.time {
    font-size: 80px
}